# SUPABASE URL and KEY to fetch/store/edit data directly from frontend
# ROW LEVEL SECURITY helps access to only private information even from calling api from frontend
# Below environment keys should be given to vercel

VITE_SUPABASE_URL=https://your-project-ref.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-publishable-or-anon-key
