# Environment files
**/.env
**/.env.*
!**/.env.example

# Dependencies
node_modules/
**/node_modules/
.venv/
**/.venv/

# Build outputs
dist/
**/dist/

# Logs
*.log

# Python
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
**/.pytest_cache/

# Vercel
.vercel/


#PERSONAL
.TODO
